.loadingWrapper,
.errorWrapper {
  flex-grow: 1;
}

.paginationContainer {
  align-self: flex-end;
}

.paginationDots {
  display: none;
}

.searchSection {
  &[data-position='right'] {
    width: fit-content;

    & button {
      width: 88px;
    }
  }
}
