.pagination_container {
  align-self: flex-end;
} 
.pagination_dots {
  display: none;
}
.search_section[data-position="right"] {
  width: fit-content;
}
.search_section[data-position="right"] button {
  width: 88px;
}
.input {
  justify-self: end;
}
