.header {
  border-bottom: 1px var(--mantine-color-grey-2) solid;
  padding: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.close {
  & svg {
    width: 16px !important;
    height: 16px !important;
    color: var(--mantine-color-grey-5);
  }

  &:hover {
    & svg {
      color: var(--mantine-color-grey-6);
    }
  }
}
