.star_container {
  align-self: flex-start;
  flex-wrap: nowrap;
}
.movie_container {
  border-radius: 12px;
  background-color: var(--mantine-color-white);
  padding: 24px;
  font-size: 16px;
}
.text {
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  color: var(--mantine-color-black);
}
