.property {
  color: var(--mantine-color-grey-6);
  font-size: 16px;
}
.movie_container {
  border-radius: 12px;
  gap: 16px;
  align-items: stretch;
  background-color: var(--mantine-color-white);
  padding: 24px;
  flex-wrap: nowrap;
}
.star_container {
  gap: 4px;
  flex-wrap: nowrap;
  align-self: flex-start;
}
