.container {
  border-radius: 12px;
}

.tableTd {
  padding: 6px 0;
  font-size: 16px;

  &:first-child {
    color: var(--mantine-color-grey-6);
  }
}

.informationContainer {
  flex-grow: 1;
}

.imageContainer,
.titleContainer {
  overflow: hidden;
}
