.loadingWrapper {
  flex-grow: 1;
}

.breadcrumbs {
  & a {
    color: var(--mantine-color-purple-5);
  }
}

.trailerContainer {
  border-radius: 12px;
  background: var(--mantine-color-white);
  padding: 24px;
  gap: 20px;
}

.video {
  max-width: 500px;
  height: 281px;
  border-radius: 9px;
}

.avatarRoot {
  border: 0.5px var(--mantine-color-grey-1) solid;
}

.avatarImage {
  object-fit: contain;
}

.avatarPlaceholder {
  background-color: var(--mantine-color-white);
}
